<!-- Footer -->
<footer class="bg-dark text-white mt-5">
  <div class="container py-4">
    <div class="row">
      <!-- About Us -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>About Us</h5>
        <p>
          We are a leading e-commerce store offering high-quality products at
          affordable prices. Customer satisfaction is our top priority.
        </p>
      </div>
      <!-- Customer Support -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Customer Support</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'store' %}#faqAccordion" class="text-white">FAQs</a>
          </li>
          <li>
            <a href="{% url 'store' %}#faqAccordion" class="text-white"
              >Return Policy</a
            >
          </li>
          <li>
            <a href="{% url 'store' %}#faqAccordion" class="text-white"
              >Shipping Info</a
            >
          </li>
          <li>
            <a href="{% url 'store' %}#faqAccordion" class="text-white"
              >Track Your Order</a
            >
          </li>
        </ul>
      </div>
      <!-- Quick Links -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'store' %}" class="text-white">Home</a></li>
          <li><a href="{% url 'store' %}" class="text-white">Shop</a></li>
          <li>
            <a href="{% url 'terms_and_conditions' %}" class="text-white"
              >Terms and Conditions</a
            >
          </li>
        </ul>
      </div>
      <!-- Contact Info -->
      <div class="col-lg-3 col-md-6 mb-4">
        <h5>Contact Us</h5>
        <p>
          <i class="fas fa-map-marker-alt"></i> Kha 224 Pragati Sarani, Merul
          Badda , Dhaka 1212, Bangladesh
        </p>
        <p><i class="fas fa-phone"></i> +8801977242441</p>
        <p><i class="fas fa-envelope"></i> simanto.shahriar@g.bracu.ac.bd</p>
        <div>
          <a href="#" class="text-white me-3"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <!-- Contact Info -->
      <div class="col-lg-12 col-md-12">
        <p>
          <a
            target="_blank"
            href="https://www.sslcommerz.com/"
            title="SSLCommerz"
            alt="SSLCommerz"
            ><img
              style="width: 100%; height: auto; img-fluid"
              src="https://securepay.sslcommerz.com/public/image/SSLCommerz-Pay-With-logo-All-Size-01.png"
          /></a>
        </p>
      </div>
    </div>
  </div>
  <div class="text-center py-2 bg-secondary">
    <p class="mb-0">&copy; 2025 E-commerce Website. All rights reserved.</p>
  </div>
</footer>
