<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Refund Request</h1>
    <p>Dear {{ user.username }},</p>

    <p>We have received your request for a refund for Order #{{ order.id }}.</p>

    <p>
      Your refund request is being processed, and you will receive further
      updates soon.
    </p>

    <p>Thank you for your patience.</p>

    <p>Best regards,</p>
    <p>Your Store Team</p>
  </body>
</html>
